<% provide(:title, 'About') %>
<h1>About</h1>
<p>This app was built to help people manage their schedule and make their life 
  more convient and organized. It is set to be a practice in building web 
  applications in Ruby on Rails.
</p>
