<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<div class='container' style='margin-left: 5vw;'>
    <p>Full Stack Web Developer</p>
    <strong>Luke Nispel</strong>
    <ul>
        <li>lnispel@me.com</li>
        <li>(805) 312-8573</li>
        <li><%= link_to 'LinkedIn', 
            'https://www.linkedin.com/in/luke-nispel-76a5b7136/'%></li>
    </ul>
</div>