<% if logged_in? %>
  <div class='row'>
    <aside class='col-md-4'>
      <section class='user_info'>
        <%= render 'shared/user_info' %>
      </section>
      <section class='stats'>
        <%= render 'shared/stats' %>
      </section>
      <section class='appointment_form'>
      <h4>Add an Appointment:</h4>
        <%= render 'shared/appointment_form' %>
      </section>
    </aside>
    <div class='col-md-8'>
      <h3>Appointment Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class='center jumbotron'>
  <h1>Welcome to the Appointment Manager App</h1>
    
  <h2>This is the home page for the Appointment Manager App.</h2>
  <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
</div>
<% end %>