<div class='container col-md-12' id="comment-<%= comment.id %>">
  <span class='user'><strong><%= link_to comment.user.name, comment.user %></strong></span>
  <span class='timestamp'></br>
    Posted <%= time_ago_in_words(comment.created_at) %> ago.
    <% if current_user?(comment.user) ||  current_user?(@appointment.user) %>
    <span class='pull-right'>
      <%= link_to 'Delete', comment, method: :delete,
                                       data: { confirm: 'You sure?' } %>
    <% end %>
    </span>
  </span></br>
  <span class='container content'>
    <%= comment.content %>
  </span>
</div>