<% provide(:title, @user.name) %>
<div class='row'>
  <aside class='col-md-2'>
    <section class='user_info'>
      <%= gravatar_for(@user, size: 150) %>
    </section>
    <section class='user_info'>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
    <section class='stats'>
      <%= render 'shared/stats' %>
    </section>
    <%= render 'follow_form' if logged_in? %>
  </aside>
   <div class='col-md-8'>
    <% if @user.appointments.any? %>
      <h3>Appointments (<%= @user.appointments.count %>)</h3>
      <ol class='appointments'>
        <%= render @appointments %>
      </ol>
      <%= will_paginate @appointments %>
    <% end %>
  </div>
</div>