<%= form_for(@appointment) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class='field'>
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: 'Name', class: 'form-control' %>

    <%= f.label :start_time %>
    <%= f.datetime_field :start_time, class: 'form-control' %>
    
    <%= f.label :end_time %>
    <%= f.datetime_field :end_time, class: 'form-control' %>
    
    <%= f.label :location %>
    <%= f.text_field :location, placeholder: 'Location', class: 'form-control' %>

    <%= f.label :phone_number%>
    <%= f.text_field :phone_number, class: 'form-control' %>
  </div>
  <%= f.submit 'Post', class: 'btn btn-primary' %>
<% end %>