<%= form_for([appointment, @comment]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class='field'>
    <%= f.text_area :content, placeholder: 'Compose new comment...' %>
  </div>
  <%= f.submit 'Post', class: 'btn btn-primary' %>
<% end %>