<% if @feed_items.any? %>
  <ol class='appointments'>
    <%= render @feed_items %>
  </ol>
  <%= will_paginate @feed_items %>
<% else %>
<div class='container jumbotron col-md-8'>
  Start following other <%= link_to 'Users', users_path %> to populate your feed!
</div>
<% end %>