<% provide(:title, @appointment.name + ' | Appointment') %>
<div class='container' id='appointment-<%= @appointment.id %>'>
  <div class='container col-md-4'>
    <%= link_to gravatar_for(@appointment.user, size: 80), @appointment.user %>
    <span class='user'>
      <%= link_to @appointment.user.name, @appointment.user %>
    </span>
  </div>
  <span class='container col-me-8'>
    Meeting with: <%= @appointment.name %>
    <% if current_user?(@appointment.user) %>
    <span class='pull-right'>
        <%= link_to 'Update', edit_appointment_path %>
        <%= link_to 'Delete', @appointment, method: :delete,
                              data: { confirm: 'You sure?' } %>
    </span></br>
    At: <%= @appointment.convert_time(@appointment.start_time) %></br>
    
    Phone Number: <%= number_to_phone(@appointment.phone_number) %></br>
    
    Where: <%= @appointment.location %></br>
    
    <% elsif %>
    <div>
    In: <%= distance_of_time_in_words_to_now(@appointment.start_time) %>
    </div>
    <% end %>
  </span>
</div>
<span class='container'>
  <div class='col-md-8'>
    <% if @appointment.comments.any? %>
      <h3>Comments (<%= @appointment.comments.count %>)</h3>
      <ol class='comments'>
      <%= render @comments %>
      </ol>
      <%= will_paginate @comments %>
    <% else %>
    <label class='form-label'>
    No comments yet
    </label>
    <% end %>
  </div>
   <div><%= render 'shared/comment_form', user: current_user, 
                                          appointment: @appointment %>
  </div>
</span>
