<li class='container' id='appointment-<%= appointment.id %>'>
  <div class='container col-md-2'>
    <%= link_to gravatar_for(appointment.user, size: 80), appointment.user %>
    <span class='user'>
      <%= link_to appointment.user.name, appointment.user %>
    </span>
  </div>
  <span class='container col-md-6'>
    Meeting with: <%= appointment.name %>
    <% if current_user?(appointment.user) %>
    <span class='pull-right'>
        <%= link_to 'Update', edit_appointment_path(appointment.id) %>
        <%= link_to 'Delete', appointment, method: :delete,
                              data: { confirm: 'You sure?' } %>
    </span></br>
    <span class='pull-right'>
        <%= link_to 'Comments', appointment_path(appointment.user_id, id: appointment.id) %>
        (<%= appointment.comments.count %>)
    </span></br>
    At: <%= appointment.convert_time(appointment.start_time) %></br>
    Until: <%= appointment.convert_time(appointment.end_time) %></br>
    Phone Number: <%= number_to_phone(appointment.phone_number) %></br>
    Where: <%= appointment.location %></br>
    <% elsif %>
    <div>
      <span class='pull-right'>
        <%= link_to 'Comments', appointment_path(appointment.user_id, id: appointment.id) %> 
        (<%= appointment.comments.count %>)
      </span>
      In: <%= distance_of_time_in_words_to_now(appointment.start_time) %>
    </div>
    <div>
    </div>
    <% end %>
  </span>
</li>
